*.1
*.o
*.swp
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
man/Makefile
man/Makefile.in
man/protocol.png
missing
src/.deps/
src/config.h
src/config.h.in
src/Makefile
src/Makefile.in
src/blobserver
src/blobcontroller
src/stamp-h1
