*.1
*.lo
*.la
*.o
*.swp
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
blobserver.pc
compile
config.guess
config.log
config.status
config.sub
configure
Doxyfile
doxyfile.stamp
depcomp
install-sh
libtool
ltmain.sh
m4/
man/Makefile
man/Makefile.in
man/protocol.png
man/html
missing
src/.deps/
include/config.h
include/config.h.in
src/Makefile
src/Makefile.in
src/blobserver
src/blobcontroller
src/blobtrainer
include/stamp-h1
